<div id="github">
    <h2>Github</h2>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-xs-12 col-sm-3 control-label">Type github username</label>
            <div class="col-xs-12 col-sm-9">
                <input class="form-control" placeholder="Enter a github username ..." ng-model="githubUsername" type="search" ng-init="githubUsername = 'topheman'">
            </div>
        </div>
    </form>
    <div class="github-user-infos" ng-show="githubUserFound">
        <h2>{{githubUsername}}</h2>
    </div>
</div>